{% extends "base.html" %}

{% block content %}
<div class = "dashboard-container"> 
    <h1 class="dashboard-title">Dashboard</h1>
    <table>
        <tr>
            <th>Short Code</th>
            <th>Original URL</th>
            <th>Total Clicks</th>
        </tr>
        {% if data %}
        {% for obj in data %}
        <tr>
            <td><span class="code-badge">{{ obj }}</span></td>
            <td><a href="{{ data[ obj ]['URL'] }}" target="_blank">{{ data[ obj ]["URL"] }}</a></td>
            <td>{{ data[ obj ]["Clicks"] }}</td>
        </tr>
        {% endfor %}
        {% endif %}   
    </table>
</div>
{% endblock %}